<head>
    <link rel="stylesheet" href="indexStyles.css">
    <title><%= title %></title>
</head>
  
<div class="container">
    <h1><%= title %></h1>
    <ul>
        <% messages.forEach(function(message, index) { %>
            <li>
                <h2><%= message.text %></h2>
                <h3><%= message.user %></h3>
                <h4><%= message.added %></h4>
                <form action="/highlighted/<%= index %>" method="get">
                    <button type="submit">Highlight</button>
                </form>
            </li>
        <% }); %>
    </ul>
</div>